# quoted from PencilBox (http://pencilbox.sourceforge.jp/)
**\** **\** **\** 03\** 05\** 15\** **\** **\** 20\** 16\** **\** **\**
**\** **\** 07\07   .     .     .   08\** **\17   .     .   35\** **\**
**\** 04\15   .     .     .     .     .   19\24   .     .     .   24\**
**\05   .     .   10\** **\10   .     .     .     .   **\17   .     .
**\07   .     .     .   06\10   .     .     .   12\** 12\15   .     .
**\** **\** 15\06   .     .     .   **\35   .     .     .     .     .
**\** 10\06   .     .     .   08\** **\** 35\10   .     .     .   **\**
**\15   .     .     .     .     .   20\09   .     .     .   12\** 06\**
**\07   .     .   **\** 06\18   .     .     .   **\06   .     .     .
**\08   .     .   03\20   .     .     .     .   15\** 16\07   .     .
**\** **\08   .     .     .   **\33   .     .     .     .     .   **\**
**\** **\** **\04   .     .   **\** **\23   .     .     .   **\** **\**
