# quoted from PencilBox (http://pencilbox.sourceforge.jp/)
. . . . . 8 . . . .
. 8 . . 6 . . . 6 .
. . 3 . . . . . . .
. . . . . . 5 . . .
. 4 . . 4 . . . . 6
9 . . . . 3 . . 4 .
. . . 6 . . . . . .
. . . . . . . 4 . .
. 4 . . . 8 . . 6 .
. . . . 6 . . . . .
